@import "tailwindcss";

@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: "Poppins";
  box-sizing: border-box;
}

.input {
  @apply w-full border px-3 py-2 rounded text-sm font-medium;
}
